#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



.App {
  text-align: center;
}

.game-board {
  position: relative;
  width: 80vw;
  height: 60vh;
  margin: 20px auto;
  background: #000;
  border: 2px solid #fff;
}

.paddle {
  position: absolute;
  width: 10px;
  height: 60px;
  background: #fff;
}

.player1 {
  left: 0;
}

.player2 {
  right: 0;
}

.ball {
  position: absolute;
  width: 15px;
  height: 15px;
  background: red;
  border-radius: 50%;
}

.scoreboard {
  margin: 10px;
  color: #fff;
  font-size: 20px;
}

.controls {
  margin-top: 20px;
}

button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
}

.restart-button{
  background: red;
  opacity: 0.7;
  padding: 4px 10px;
  border-radius: 5px;
  color: white;
}
.restart-button:hover{
  opacity: 0.9;
}
